
body{
    background-color: rgb(241, 243, 247);
}

.jumbotron {
    background-image: url("https://www.istockphoto.com/photo/abs-lactobacillus-bulgaricus-bacteria-gm1378969848-442719588");
    background-size: cover;
    background-position: center;
    color: azure;
}
