
body{
    background-color: rgb(241, 243, 247);
}

.jumbotron {
   background-image: url("/images/bact.png");
    background-size: cover;
    background-position: center;
    color: rgb(16, 17, 17);
}
